<!DOCTYPE html>
<html lang="en">
<head>
    <title>CarSpace</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
</head>
<body>
    <form action="/admin/brands/create" method="get">
        <button class="btn-dark">Create brand</button>
    </form>
    <form action="/admin/models/create" method="get">
        <button class="btn-dark">Create model</button>
    </form>
    <form action="/admin/brands/update" method="get">
        <label for="edit_brand">

        </label><input class="form-control text-center" id="edit_brand" name="brandId">
        <button class="btn-dark">Update brand</button>
    </form>

    <form action="/admin/model/update" method="get">
        <label for="edit_model">

        </label><input class="form-control text-center" id="edit_model" name="brandId">
        <button class="btn-dark">Update model</button>
    </form>
</body>
</html>